<div class="about-me-section">
  <h2>About me</h2>
  <div class="about-me">
    <div class="text-and-btn">
      <span
        >I am a Front-end developer based in Heinsberg, Germany. By programming
        many projects, I was able to develop a structured approach to complex
        problems and improved my skills in the areas of creativity and logical
        thinking. This allows me to turn ideas into unique web experiences that
        are customized to your exact needs.<br /><br />
        If you think I’d be a good match for your projects, contact me!</span
      >
      <button>Let's talk<a></a></button>
    </div>
    <div class="image-and-arrow-left">
      <img class="portfolio-img" src="./assets/img/lars-peters.png" alt="" />
      <a href=""
        ><img class="arrow-left" src="./assets/img/arrow-left.png" alt=""
      /></a>
    </div>
  </div>
</div>
