<footer>
  <div class="name-abbreviation-area">
    <img class="left-square" src="./assets/img/left-square-bracket-white.png" />
    <span class="letter-l">L</span>
    <span class="letter-p">P</span>
    <img
      class="right-square"
      src="./assets/img/right-square-bracket-white.png"
    />
  </div>
  <div class="contact-section">
    <span>© Lars Peters 2023</span>
    <div class="contact-icons">
      <a href=""><img src="./assets/img/github.png" alt="" /> </a>
      <a href=""><img src="./assets/img/e-mail.png" alt="" /></a>
      <a href=""><img src="./assets/img/linkedin.png" alt="" /></a>
    </div>
    <img (click)="scrollToTop()" class="to-top-arrow" src="/assets/img/to-top-arrow.png" alt="Scroll to top" />
  </div>
</footer>
