<header>
  <div class="header-top">
    <div
      class="name-abbreviation-area"
      routerLink=""
      fragment="start"
      (click)="clickedMenuItem(0)"
    >
      <img class="left-square" src="./assets/img/left-square-bracket.png" />
      <span class="letter-l">L</span>
      <span class="letter-p">P</span>
      <img class="right-square" src="./assets/img/right-square-bracket.png" />
    </div>
    <button
      (click)="toggleAnimation()"
      [@burgerButtonAmimation]="isMenuOpen ? 'open' : 'close'"
    ></button>
  </div>

  <nav [@navAnimation]="isMenuOpen ? 'open' : 'close'">
    <div class="nav-links">
      <a routerLink="" fragment="about-me" (click)="clickedMenuItem(125)"
        >About me</a
      >
      <a routerLink="" fragment="skills" (click)="clickedMenuItem(125)"
        >My skills</a
      >
      <a routerLink="" fragment="portfolio" (click)="clickedMenuItem(125)"
        >Portfolio</a
      >
    </div>
    <div class="rectange-menu-footer">
      <div class="greeting-contact">
        <a href="" class="greeting">Say Hi!</a>
        <span class="e-mail">lars.peters97@freenet.de</span>
      </div>
      <div class="contact-icons">
        <a href=""><img src="./assets/img/github.png" alt="" /> </a>
        <a href=""><img src="./assets/img/e-mail.png" alt="" /></a>
        <a href=""><img src="./assets/img/linkedin.png" alt="" /></a>
      </div>
    </div>
  </nav>
</header>
