@use "./src/assets/css/variables.scss";

.contact-form {
  display: flex;
  background-image: url("/assets/img/black-background-contact-form.png");
  width: 100%;
  background-size: cover;
  min-height: 50vh;
  flex-direction: column;
  color: variables.$default-background-color;
  padding-left: variables.$side-distance;
  padding-right: variables.$side-distance;
}

.contact-form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 160px;
  margin-bottom: 16px;
}

h4 {
  color: variables.$cyan-font-color;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  textarea {
    max-width: 529px;
    background-color: black;
    border: none;
    outline: none;
    color: variables.$default-background-color;
    resize: none;
    width: 88%;
    overflow: auto;
    padding-right: 16px;
    cursor: auto;
  }

  textarea::-webkit-scrollbar {
    cursor: default;
    cursor: -moz-default;
  }

  textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px black;
    border-radius: 0px;
    background-color: gray;
  }

  input,
  .textarea-container {
    background-color: black;
    font-size: 16px;
    font-weight: 400;
    border: 3px solid transparent;
    border-bottom: 3px solid variables.$default-background-color;
    color: variables.$default-background-color;
    border-radius: 0;
    max-width: 600px;
    min-width: 600px;

    &:focus {
      outline: none;
      border: 3px solid variables.$default-background-color;
    }
  }

  input:required:valid {
    border: 3px solid variables.$default-background-color;
  }

  img {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 26px;
    object-fit: contain;
  }

  .textarea-container {
    min-height: 160px;
    resize: both;
    overflow: auto;
    max-height: 300px;
    display: flex;
    padding: 16px;
    width: 560px;
  }

  .textarea-container:focus-within {
    border: 3px solid variables.$default-background-color;
  }
}

input {
  padding: 15px 65px 15px 25px;
}

label {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 16px 25px;
  font-size: 16px;
  font-weight: 400;
  transition: all 225ms ease-in-out;
  padding: 0px 6px;
  pointer-events: none;
}

input:focus + label,
input:not(:focus):valid + label,
textarea:focus + label,
textarea:not(:focus):valid + label {
  transform: translateY(-24px);
}

.error {
  color: #e61c40;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  transition: 500ms ease-in;
}

.error-container {
  display: flex;
  align-items: center;
  height: 0px;
  animation: einblenden 1s forwards;
}

@keyframes einblenden {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 50px;
    opacity: 1;
  }
}

.no-error {
  animation: ausblenden 1s backwards;
}

@keyframes ausblenden {
  from {
    height: 50x;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}

.policy-agreement:hover .empty-checkbox {
  background-color: rgb(0, 188, 143);
}

.privacy-policy {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  display: flex;
  height: 20px;
  align-items: center;

  a {
    text-decoration: none;
    color: variables.$cyan-font-color;
    width: 104px;
    display: flex;
    justify-content: center;
    transition: 125ms ease-in-out;

    &:hover {
      font-weight: 600;
    }
  }
}

.checkbox-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.checkbox {
  padding: 0px 8px 0px 0px;
}

.submit-btn-section {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: 16px 0px;
  width: 270px;
  background-color: black;
  color: variables.$default-background-color;
  border: 4px solid variables.$default-background-color;
  font-size: variables.$standard-font-size;
  transition: 200ms ease-in-out;
  margin-bottom: 24px;

  &:hover {
    font-weight: 600;
  }

  &:active {
    background-color: variables.$default-background-color;
    color: black;
  }
}
