<div class="home">
  <div>
    <h1>Frontend<br />Developer</h1>
    <div class="flex-center">
      <div class="line"></div>
      <span class="name">Lars Peters</span>
    </div>
  </div>

  <div class="scroll-email">
    <span class="vertical-text">lars.peters97@freenet.de</span>
    <div class="scroll-down">
      <a class="arrow-bottom" href=""
        ><img src="./assets/img/arrow-bottom.png" alt=""
      /></a>
      <a href=""
        ><span>Scroll<br />down</span></a
      >
    </div>
  </div>
</div>
