<div class="home" id="start">
  <div>
    <h1>Frontend<br />Developer</h1>
    <div class="flex-center">
      <div class="line"></div>
      <span class="name">Lars Peters</span>
    </div>
  </div>

  <div class="scroll-email">
    <span class="vertical-text">lars.peters97@freenet.de</span>
    <div class="scroll-down">
      <a
        routerLink=""
        fragment="about-me"
        class="arrow-bottom"
        (click)="scrollToAboutMe()"
        ><img src="./assets/img/arrow-bottom.png" alt=""
      /></a>
      <a routerLink="" fragment="about-me" (click)="scrollToAboutMe()"
        ><span>Scroll<br />down</span></a
      >
    </div>
  </div>
</div>
