// colors

$main-font-color: #000000;
$default-background-color: #fffcf3;
$cyan-font-color: #00bc8f;

// font family

$headline-font: "Overpass";
$normal-text-font: "Syne";

// Others

$side-distance: 125px;
$header-height: 92px;
$arrow-height: 224px;
$standard-font-size: 23px;
