<div class="projects-section">
  <div class="projects-header-section">
    <h2>Portfolio</h2>
    <span
      >Here you can check out a selection of my projects that I developed during
      my programming learning process. You can see the source code for the
      projects on Github.</span
    >
  </div>

  <app-single-project
    *ngFor="let project of projectList; let i = index"
    [project]="project"
    [projectNumber]="i + 1"
    [projectRevers]="i % 2 == 0 ? false : true"
  ></app-single-project>
  <div class="arrow-left">
    <a href=""><img src="./assets/img/arrow-left.png" alt="" /></a>
  </div>
</div>
