<div class="skill-section">
  <div class="skills-container">
    <h2>My skills</h2>
    <div class="skill-icons-section">
      <div class="skills" *ngFor="let skill of skills">
        <img class="icon-black" src="{{ skill.iconBlack }}" alt="" />
        <img class="icon-colored" src="{{ skill.iconColored }}" alt="" />
        <span class="name-with-margin-top">{{ skill.name }}</span>
      </div>
    </div>
  </div>
  <div class="arrow-right">
    <a href=""><img src="./assets/img/arrow-right.png" alt="" /></a>
  </div>
</div>
